<app-top-image-title
  [imageUrl]="'../../../../assets/programs/crossfit.jpg'"
  [title]="'WORKOUT OF THE DAY'"
  [subTitle]="'Available at Kharghar'"
></app-top-image-title>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>WHAT IS WORKOUT OF THE DAY?</h3>
      </div>

      <div class="col-sm-12 mt-4">
        <p class="welcome-info">
          <span class="block-span">
            Workout of the day is a varied strength and conditioning program designed to
            help individuals, regardless of their fitness level, become
            healthier, stronger, and faster. The Workout of the day community is a
            close-knit and encouraging group of people who share a common goal:
            to get and stay fit. Workout of the day combines Olympic weightlifting,
            gymnastics, plyometrics, kettlebells, high intensity interval
            training (HIIT), and cardio conditioning into a constantly varied
            and fun set of “WODs” (Workout of the Day). By definition, Workout of the day
            is “Constantly Varied, High Intensity, Functional Movement."
          </span>

          <span class="block-span title-span mt-2">
            CONSTANTLY VARIED
          </span>
          <span class="block-span">
            Our Head Coach programs strength and conditioning cycles using full
            body and functional movements that focus on strength and technique,
            coupled with one or more conditioning workouts (WODs). The workouts
            are also different every single day. This means your body won't
            easily adapt (i.e. plateau) and you can promote consistent
            improvement in your fitness.
          </span>

          <span class="block-span title-span">
            HIGH INTENSITY
          </span>
          <span class="block-span">
            At HYBRID 360FIT , we view high intensity as giving your best effort
            every time while being safe, using proper technique, and pushing
            yourself to new personal fitness achievements. We ultimately want
            you to be able to run faster, jump higher, and move weight more
            quickly and efficiently.
          </span>

          <span class="block-span title-span">
            FUNCTIONAL MOVEMENTS
          </span>
          <span class="block-span">
            These are the movements humans were built to do. Squatting, lifting
            from the ground, pulling and pushing yourself up, etc. Workout of the day
            emphasizes functional movements while helping athletes build
            strength, endurance, stability, agility, and flexibility. Training
            with functional movements means you won’t use the typical machines
            you see at most local gyms. Instead, you will use a combination of
            your body weight, dumbbells, kettlebells, and barbells to build
            strength and endurance.
          </span>
        </p>
      </div>

      <div class="col-sm-12 mt-4">
        <h3>HOW DOES A WORKOUT OF THE DAY CLASS WORK?</h3>
      </div>

      <div class="col-sm-12 mt-2">
        <p class="welcome-info">
          Each class lasts about one hour and typically includes the following:
        </p>

        <ol class="pl-5 mt-2">
          <li>
            <p class="welcome-info">
              <b>Dynamic warm-up, </b> including stretching and mobility work.
              (~10 minutes)
            </p>
          </li>

          <li>
            <p class="welcome-info">
              <b>Strength/Skill, </b> designed to improve strength and/or to
              become more proficient in a particular Olympic lift or gymnastic
              movement. (~15 minutes)
            </p>
          </li>

          <li>
            <p class="welcome-info">
              <b>WOD (workout of the day), </b> combining strength and cardio
              movements with high intensity effort. (5-20+ minutes)
            </p>
          </li>

          <li>
            <p class="welcome-info">
              <b>Cool down, </b> and active recovery stretching session. (~5-10
              minutes)
            </p>
          </li>
        </ol>

        <p class="welcome-info mt-2">
          Our Workout of the day certified coaches will motivate and guide you through the
          workout and movements before and during each class. All you have to do
          is show up, have fun, and work hard.
        </p>
      </div>

      <!-- How can I track my improvement -->
      <div class="col-sm-12 mt-4">
        <h3>HOW CAN I TRACK MY IMPROVEMENT?</h3>
      </div>

      <div class="col-sm-12 mt-2">
        <p class="welcome-info">
          Workout of the day classes are typically measured by time or number of reps of
          your workout. This allows you to see your improvements on a weekly,
          monthly, and yearly basis. Because each workout is measured, there is
          a fun competitive aspect to Workout of the day. However, at HYBRID 360FIT, we
          strongly emphasize proper form and technique over heavy weight and
          speed to ensure your safety and to prevent injury. Our coaches will
          help you scale weights or movements of any workout to your fitness and
          skill level. It is important to know that the majority of Workout of the day
          athletes scale each and every workout.
        </p>
      </div>
    </div>
  </div>
</div>
