<app-top-image-title
  [imageUrl]="'../../../../assets/programs/kids.jpeg'"
  [title]="'HYBRID 360FIT KIDS'"
  [subTitle]="'Available at Kharghar'"
></app-top-image-title>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mt-4">
        <p class="welcome-info">
          HYBRID 360FIT's Kids program is built on the foundation of FUN!  It is
          important for kids to associate fitness with fun so they can develop a
          healthy relationship with fitness at an early age. HYBRID 360FIT Kids is
          designed for EVERY child to experience and celebrate progress and
          success regardless of their athletic ability. All of our workouts can
          be scaled up or down to make them more or less challenging. The skills
          they learn in class will help develop and improve their general
          physical fitness as well as improve their self-confidence. 
          HYBRID 360FIT Kids incorporates gymnastics, bodyweight movements, and
          basic weight training elements with an additional focus on balance and
          coordination development. We also emphasize teamwork, good
          sportsmanship, and honesty. We keep class fun by playing plenty of
          games and making the workouts enjoyable yet challenging. By the end of
          class, your child will leave with a smile on their face!
        </p>
      </div>
    </div>
  </div>
</div>
