<app-top-image-title
  [imageUrl]="'../../../../assets/Home/welcome3.png'"
  [title]="'ELEMENTS'"
  [subTitle]="'Available at Kharghar'"
></app-top-image-title>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>ABOUT ELEMENTS</h3>
      </div>

      <div class="col-sm-12 mt-4">
        <p class="welcome-info">
          HYBRID 360FIT Elements is our on-ramp program designed for brand new
          athletes interested in CrossFit. Elements is also a pre-requisite
          program for any folks who want to take a group CrossFit class here at
          HYBRID 360FIT but do not have at least 3+ months of CrossFit
          experience from another affiliate. CrossFit can significantly improve
          your overall fitness level; it also utilizes a broad range of
          functional movements with “real-world” applicability. However, many of
          these movements are very different from what you might see in a
          typical gym or bootcamp/HIIT class, which is why we require new
          CrossFitters to graduate from our Elements program before hopping into
          our group CrossFit classes.
        </p>
      </div>

      <div class="col-sm-12 mt-4">
        <h3>WHAT TO EXPECT</h3>
      </div>

      <div class="col-sm-12 mt-2">
        <p class="welcome-info">
          Elements is hosted in a private/semi-private setting by appointment.
          our Elements program is a single 90-minute session.. As at any
          CrossFit gym, Elements classes entail a one-time additional cost.
        </p>

        <p>
          During Elements, a HYBRID 360FIT coach will introduce you to key
          movements and techniques that you will utilize in our various CrossFit
          workouts. You’re not expected to master these skills in Elements, but
          rather to have a basic understanding and foundation from which you can
          build. Once you transition into our CrossFit classes, our coaches will
          scale your workouts (i.e. lighter weights, fewer reps, etc.)
          appropriately to ensure that you progress safely.
        </p>
      </div>

      <div class="col-sm-12 mt-5">
        <h3 class="text-center">BEGINNERS, TRY A FREE CLASS</h3>
      </div>

      <div class="col-sm-12 mt-3">
        <p class="welcome-info">
          The best way to learn about HYBRID 360FIT is to come in for a FREE
          class. Don’t worry about being a first-timer or not being “in shape.”
          Our knowledgeable coaches will help guide you and scale your workout
          to a level where you’re comfortable being uncomfortable with! We’re
          excited to meet you.
        </p>
      </div>

      <div class="col-sm-12 text-center mt-3">
        <button
          class="primary-button"
          routerLink="/Get Started/Try Free"
          type="button"
        >
          TRY A FREE CLASS
        </button>
      </div>
    </div>
  </div>
</div>
