<app-top-image-title
  [imageUrl]="'../../../../assets/programs/open-gym.jpg'"
  [title]="'OPEN GYM'"
  [subTitle]="'Available at Kharghar'"
></app-top-image-title>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mt-4">
        <p class="welcome-info">
          Open gym hours provide our members an additional opportunity to work
          on various skills, techniques, or to simply do their own workout. We
          always have a coach available during these hours to offer help and
          address any questions you might have. Open Gym is available to all
          Unlimited memberships at no additional cost. For Open Gym hours, check
          in with our coaches. (add how we don’t want to limit your time and let
          you access HYBRID 360FIT for them to grow as they like) and add this
          line *working hard and out working everybody is where we reach our
          full potential*
        </p>
      </div>
    </div>
  </div>
</div>
