.welcome__image-container {
  position: relative;
  height: 850px;
  width: 100%;
  background: url("../../../assets/Home/welcome.png") no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.welcome__image-container2 {
  position: relative;
  height: 642px;
  width: 100%;
  background: url("../../../assets/Home/welcome3.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.welcome__image-container3 {
  position: relative;
  height: 642px;
  width: 100%;
  background: url("../../../assets/Home/welcome4.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.welcome__image-container4 {
  position: relative;
  height: 642px;
  width: 100%;
  background: url("../../../assets/Home/welcome5.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.welcome_heading1 {
  position: absolute;
  top: 4rem;
  left: 5%;
  background-color: var(--backgroundColor);
  padding: 15px 25px;
}

.welcome__heading2 {
  position: absolute;
  top: 12rem;
  left: 5%;
  background-color: var(--backgroundColor);
  padding: 15px 25px;
}

.welcome_heading1 p {
  font-size: 2.3rem;
  margin: 0;
  padding: 0;
  letter-spacing: 0.2rem;
}

.welcome__heading2 p {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
  letter-spacing: 0.2rem;
}

.container {
  background: var(--backgroundColor);
  padding-top: 100px;
}

.container h3 {
  font-size: 1.4rem;
  font-weight: bolder;
  word-spacing: 0.2rem;
  margin: 0;
}

.welcome-info {
  text-align: justify;
  font-size: 1rem;
}

#welcomeinfoImg {
  height: 450px;
  width: 100%;
  object-fit: cover;
}

.block-span {
  display: block;
}

@media screen and (max-width: 768px) {
  .welcome_heading1 {
    padding: 10px;
    right: 1rem;
  }

  .welcome__heading2 {
    padding: 10px;
  }

  .welcome_heading1 p {
    font-size: 1.5rem;
  }

  .welcome__heading2 p {
    font-size: 1rem;
  }

  .fixed-indicator {
    display: none;
  }
}

/* Indicator */
.fixed-indicator {
  position: fixed;
  right: 10px;
  top: 40vh;
  padding: 0 1rem;
  z-index: 5;
}

.indicator-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.indicator-circle {
  height: 11px;
  width: 11px;
  margin-left: 1rem;
  border-radius: 100%;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.indicator-text {
  color: var(--accent-color);
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}

html {
  scroll-behavior: smooth;
}

.indicator-circle-dark {
  background-color: var(--backgroundColor);
  border: 1px solid var(--backgroundColor);
}

.text-dark {
  color: var(--backgroundColor) !important;
}

.active-circle {
  background-color: transparent;
}
