<div class="container-fluid">
  <div class="welcome__image-container" id="welcomeContainer">
    <div class="welcome_heading1">
      <p>
        WELCOME TO BROTHERHOOD
      </p>
    </div>

    <div class="welcome__heading2">
      <p>
        FITNESS FOR EVERYBODY
      </p>
    </div>
  </div>

  <!-- Welcome text -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>WELCOME TO BROTHERHOOD</h3>
      </div>

      <div class="col-sm-12 mt-3">
        <h6>
          PINT OF SWEAT, SAVES A GALLON OF BLOOD – GEORGE.S.PATTON
        </h6>
      </div>

      <div class="col-sm-12 mt-4">
        <p class="welcome-info">
          <span class="block-span">
            Brotherhood, a perfect place to break a sweat and then sweat your
            way to success in achieving your health and fitness goals.
          </span>
          <span class="block-span">
            Are you lazy?
          </span>
          <span class="block-span">
            Or just don’t find the determination to tie your laces and head to
            the gym?
          </span>
          <span class="block-span">
            or any other reason? don’t you worry, whatever your reason is, we've
            got you covered.
          </span>
          <span class="block-span">
            How?
          </span>
          <span class="block-span">
            With our custom-tailored programs!
          </span>
          <span class="block-span">
            We work on the environment of the workout, not just the workout, we
            have created an environment with trainers so pumped up, they will
            never get tired of pushing you through your boundaries of limit.
            Most of our workout sessions are held in the open, with fresh air
            and cool breeze. We will help you achieve your goals that are
            sitting beyond your limits, you will achieve a level of success not
            only in terms of health but also your peace of mind. Working out not
            only helps you physically but also mentally and when there's both
            health and mental clarity you are bound to achieve any goals, you
            can reach heights that of the moon and width that of the earth.
          </span>
          <span class="block-span">
            We are here to provide you quality and attention like never before.
            Join us to break all your physical limitations and get to the next
            level. Don't feel entitled to anything you didn't sweat and struggle
            for - Marian Wright Edelman
          </span>
        </p>

        <!-- <p class="welcome-info">
          Contrary to popular belief, Lorem Ipsum is not simply random text. It
          has roots in a piece of classical Latin literature from 45 BC, making
          it over 2000 years old. Richard McClintock, a Latin professor at
          Hampden-Sydney College in Virginia, looked up one of the more obscure
          Latin words, consectetur, from a Lorem Ipsum passage, and going
          through the cites of the word in classical literature, discovered the
          undoubtable source. Lorem Ipsum comes from sections 1.10.32 and
          1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
          Evil) by Cicero, written in 45 BC. This book is a treatise on the
          theory of ethics, very popular during the Renaissance. The first line
          of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
          section 1.10.32.
        </p> -->
      </div>

      <div class="col-sm-12 col-md-10 offset-md-1 mt-4">
        <img src="../../../assets/Home/welcome2.png" id="welcomeinfoImg" />
      </div>
    </div>
  </div>

  <!-- For All Levels -->

  <div class="welcome__image-container2 mt-5" id="levelContainer">
    <div class="welcome_heading1">
      <p>
        FOR ALL LEVELS
      </p>
    </div>

    <div class="welcome__heading2">
      <p>
        Come Try a Free Class Today!
      </p>
    </div>
  </div>

  <!-- Level of fitness text -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-right">
        <h3>ANY LEVELS OF FITNESS</h3>
      </div>

      <div class="col-sm-12 mt-4">
        <p class="welcome-info">
          CrossFit is constantly varied functional movements performed at high
          intensity, and the best part of it is that it can be enjoyed by people
          of all ages and ranges of capability. Your age or your fitness level
          doesn’t matter, all that matters is you enrolling. You don’t have to
          worry about struggling to show up at the gym every day, because we
          create a community and an ambiance such, that will make you want to
          come workout every day. Our seasoned coaches will teach you the proper
          techniques and encourage you to push yourself to
          <span style="color: red;">your own personal limits. </span> Workouts
          are scaled for every single individual. Our belief lies in endless
          possibilities Come in today and see what we’re all about!
        </p>
      </div>

      <div class="col-sm-12 text-right">
        <button class="primary-button">
          TRY A FREE CLASS
        </button>
      </div>
    </div>
  </div>

  <!-- Dedication Experience-->

  <div class="welcome__image-container3 mt-5" id="dedicationContainer">
    <div class="welcome_heading1">
      <p>
        DEDICATION + EXPERIENCE
      </p>
    </div>

    <div class="welcome__heading2">
      <p>
        Meet Our Coaches
      </p>
    </div>
  </div>

  <!-- Coaching -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-left">
        <h3>COACHING</h3>
      </div>

      <div class="col-sm-12 mt-4">
        <p class="welcome-info">
          Good technique and safety are the cornerstones of our coaching
          philosophy. At Brotherhood, we have a team of experienced and
          knowledgeable coaches who emphasize proper form, technique, and safety
          with every workout. Our coaches can help scale movements for each
          individual athlete, enabling all of our members to be challenged,
          while progressing as safely as possible. We continuously strive to
          improve and expand our knowledge base to provide members with the best
          training possible. For us, each member becomes an athlete the moment
          they enroll, and we believe in providing the best of everything to
          feed the beast inside you.
        </p>
      </div>

      <div class="col-sm-12 text-left">
        <button class="primary-button">
          MEET THE TEAM
        </button>
      </div>
    </div>
  </div>

  <!-- Locations -->

  <div class="welcome__image-container4 mt-5">
    <div class="welcome_heading1">
      <p>
        MULTIPLE LOCATIONS
      </p>
    </div>

    <div class="welcome__heading2">
      <p>
        Join us at one or our locations!
      </p>
    </div>
  </div>

  <!-- New To Cross fir -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-left">
        <h3>NEW TO CROSS FIT? TRY A CLASS ON US!</h3>
      </div>

      <div class="col-sm-12 mt-4">
        <p class="welcome-info">
          The best way to experience brotherhood is to join in for a FREE class.
          Don’t worry about being a first-timer or not being “in shape.” Our
          knowledgeable coaches will help guide you and scale your workout to a
          level where you’re comfortable! We’re excited to meet you!
        </p>
      </div>
    </div>
  </div>

  <!-- Select Your Location -->
  <div class="container" style="padding-bottom: 100px;">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>SELECT YOUR LOCATION</h3>
      </div>

      <div class="col-sm-12 mt-5">
        <div class="row text-center">
          <div class="col-sm-12 col-md-4">
            <button class="primary-button">
              KHARGHAR
            </button>
          </div>

          <div class="col-sm-12 col-md-4">
            <button class="primary-button">
              KHARGHAR
            </button>
          </div>

          <div class="col-sm-12 col-md-4">
            <button class="primary-button">
              KHARGHAR
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Indicator -->
<div class="fixed-indicator">
  <div class="indicator-div">
    <span
      class="indicator-text"
      [ngStyle]="{ opacity: welcomeIndicator ? 1 : 0 }"
      >WELCOME TO HYBRID 360FIT</span
    >
    <div
      class="indicator-circle"
      [ngClass]="welcomeIndicator || welcomeDotIndicator ? 'active-circle' : ''"
      (mouseover)="onHoverIndicator('welcome')"
      (mouseout)="onHoverIndicator('')"
      (click)="scrollToElement('#welcomeContainer')"
    ></div>
  </div>
  <div class="indicator-div">
    <span class="indicator-text" [ngStyle]="{ opacity: levelIndicator ? 1 : 0 }"
      >FOR ALL LEVELS</span
    >
    <div
      class="indicator-circle"
      [ngClass]="levelIndicator || levelDotIndicator ? 'active-circle' : ''"
      (mouseover)="onHoverIndicator('level')"
      (mouseout)="onHoverIndicator('')"
      (click)="scrollToElement('#levelContainer')"

    ></div>
  </div>

  <div class="indicator-div">
    <span
      class="indicator-text"
      [ngStyle]="{ opacity: dedicationIndicator ? 1 : 0 }"
      >DEDICATION + EXPERIENCE</span
    >
    <a
      class="indicator-circle"
      [ngClass]="dedicationIndicator || dedicationDotIndicator ? 'active-circle' : ''"
      (mouseover)="onHoverIndicator('dedication')"
      (mouseout)="onHoverIndicator('')"
      (click)="scrollToElement('#dedicationContainer')"
    ></a>
  </div>
</div>
