<div class="nav-container">
  <div class="nav-content">
    <div class="logo-container">
      <img src="../../../assets/Logo/logo-plain.png" height="150" width="150" routerLink="/Home" />
    </div>
    <div class="links-container">
      <ul class="main-ul">
        <li class="main">
          <a routerLink="/Home" routerLinkActive="active-item">HOME</a>
        </li>

        <li class="main">
          <a routerLink="/Get Started/Try Free" routerLinkActive="active-item">GET STARTED</a>
        </li>

        <!-- <li (mouseover)="onShowGetStartedMenu(true)" (mouseleave)="onShowGetStartedMenu(false)" class="sub">
          <a>GET STARTED</a>
          <div class="dd_div" *ngIf="showGetStartedMenu" (mouseover)="onShowGetStartedMenu(true)"
            (mouseleave)="onShowGetStartedMenu(false)">
            <ul>
              <li routerLink="/Get Started/Try Free" routerLinkActive="active-item" (click)="showGetStartedMenu = false">
                <a>Try a free class (No Prior CF Experience)</a>
              </li>

              <li>
                <a>
                  Visit us / Drop-In (3+ Months CF Experience)
                </a>
              </li>
            </ul>
          </div>
        </li> -->

        <li class="main">
          <!-- (mouseover)="onShowAboutUsMenu(true)" (mouseleave)="onShowAboutUsMenu(false)" -->
          <a routerLink="/About Us" routerLinkActive="active-item">ABOUT US</a>
          <!-- <div class="dd_div" *ngIf="showAboutUsMenu" (mouseover)="onShowAboutUsMenu(true)"
            (mouseleave)="onShowAboutUsMenu(false)">
            <ul>
              <li>
                <a>Why Brotherhood</a>
              </li>

              <li>
                <a>
                  Meet the team
                </a>
              </li>

              <li>
                <a>
                  FAQ
                </a>
              </li>
            </ul>
          </div> -->
        </li>

        <li (mouseover)="onShowProgramsMenu(true)" (mouseleave)="onShowProgramsMenu(false)">
          <a>PROGRAMS</a>
          <div class="dd_div" *ngIf="showProgramsMenu" (mouseover)="onShowProgramsMenu(true)"
            (mouseleave)="onShowProgramsMenu(false)">
            <ul>
              <li routerLink="/Programs/Workout-of-the-day" routerLinkActive="active-item"
                (click)="showProgramsMenu = false">
                <a>Workout of the day</a>
              </li>

              <li routerLink="/Programs/Elements" routerLinkActive="active-item" (click)="showProgramsMenu = false">
                <a> Elements </a>
              </li>

              <li routerLink="/Programs/Brotherhood Mamas" routerLinkActive="active-item"
                (click)="showProgramsMenu = false">
                <a> HYBRID 360FIT Mamas </a>
              </li>

              <li routerLink="/Programs/Brotherhood Kids" routerLinkActive="active-item"
                (click)="showProgramsMenu = false">
                <a> HYBRID 360FIT Kids </a>
              </li>

              <li routerLink="/Programs/Open Gym" routerLinkActive="active-item" (click)="showProgramsMenu = false">
                <a> Open Gym </a>
              </li>

              <li routerLink="/Programs/Brotherhood Corporate Wellness" routerLinkActive="active-item"
                (click)="showProgramsMenu = false">
                <a> HYBRID 360FIT Corporate Wellness </a>
              </li>

              <li routerLink="/Programs/Outdoor Sessions" routerLinkActive="active-item"
                (click)="showProgramsMenu = false">
                <a> Outdoor Sessions </a>
              </li>
            </ul>
          </div>
        </li>

        <!-- <li class="main">
          <a>LOCATIONS</a>
        </li> -->

        <li class="main">
          <a>COMMUNITY</a>
        </li>

        <li class="main">
          <a target="_blank" href="https://makethebasket.com/">
            CSR ACTIVITY
          </a>
        </li>

        <li class="main">
          <a routerLink="/Contact Us" routerLinkActive="active-item">CONTACT US</a>
        </li>
      </ul>
    </div>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </div>
</div>
