<app-title-bar
  [imageUrl]="'../../../../assets/Home/welcome3.png'"
  [title]="'ABOUT US'"
></app-title-bar>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>OUR COACHING</h3>
      </div>

      <div class="col-sm-12 mt-4">
        <p class="welcome-info">
          Good technique and safety are the cornerstones of our coaching
          philosophy. At BROTHERHOOD, we have a team of experienced and
          knowledgeable coaches who emphasize proper form, technique, and safety
          with every workout. Our coaches can help scale movements for each
          individual athlete, enabling all of our members to be challenged,
          while progressing as safely as possible. We strive to continually
          improve and expand our knowledge base to provide members with the best
          training possible. For us, each member becomes an athlete the moment
          they enroll, and we believe in providing the best of everything to
          feed the beast inside you
        </p>
      </div>

      <div class="col-sm-12 mt-4">
        <h3>OUR COMPETITION</h3>
      </div>

      <div class="col-sm-12 mt-2">
        <p class="welcome-info">
          At Brotherhood, our only competition lies with ourselves, to raise the
          bar of our standards and quality with each coming day. We do not
          believe in competing with anyone else because we feel it isn’t
          productive enough, the only competition you will ever have is with the
          beast inside you. you can bring the best in when the beast is out!
        </p>
      </div>

      <div class="col-sm-12 mt-5">
        <h3>OUR COMMUNITY</h3>
      </div>

      <div class="col-sm-12 mt-3">
        <p class="welcome-info">
          We pride ourselves on having a strong, diverse, and close-knit
          community. We hold each other accountable during workouts and inspire
          each other to achieve individual goals. Your fellow members will
          quickly become some of your closest friends, sharing a passion for
          having fun inside and outside the gym. We love our community and enjoy
          hosting social events such as pub crawls, parties, and dinners to help
          members get to know each other better! Most develop a life long
          friendship, and what more to add to that?
        </p>
      </div>

      <div class="col-sm-12 mt-5">
        <h3>OUR FACILITIES</h3>
      </div>

      <div class="col-sm-12 mt-3">
        <p class="welcome-info">
          Our spacious gym is fully equipped with large pull-up rigs and
          world-class pieces of equipment. the gym has restrooms with showers
          and free dedicated parking. Brotherhood uses WODify software to enable
          our athletes to reserve classes, record workouts, and track
          improvements. Athletes can access their WODify profiles from any
          tablet, computer or mobile device.
        </p>
      </div>
    </div>
  </div>
</div>
