<app-top-image-title
  [imageUrl]="'../../../../assets/Get-started/get1.jpg'"
  [title]="'TRY A FREE CLASS'"
  [subTitle]="'Get Started Today!'"
></app-top-image-title>

<div class="container-fluid">
   <!-- New To Cross fir -->
   <div class="container" style="padding-bottom: 100px;">
    <div class="row">
      <div class="col-sm-12 text-left">
        <h3>NEW TO CROSS FIT? TRY A CLASS ON US!</h3>
      </div>

      <div class="col-sm-12 mt-4">
        <p class="welcome-info">
          The best way to experience HYBRID 360FIT is to join in for a FREE class.
          Don’t worry about being a first-timer or not being “in shape.” Our
          knowledgeable coaches will help guide you and scale your workout to a
          level where you’re comfortable! We’re excited to meet you!
        </p>
      </div>
    </div>
  </div>
</div>
