<app-title-bar
  [imageUrl]="'../../../../assets/programs/corporate.png'"
  [title]="'BROTHERHOOD CORPORATE WELNESS'"
  [subTitle]="'Available at Kharghar'"
></app-title-bar>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mt-4">
        <p class="welcome-info">
          Employees with a strong foundation of fitness and nutrition become
          increasingly more valuable, with higher morale and boosted levels of
          productivity. BROTHERHOOD'S Corporate Wellness program is the solution
          to making your company healthier, happier, and more innovative. Our
          all-encompassing programs include different options to bring fitness,
          nutrition, and wellness education to your company. We can bring the
          program directly to your office and/or your employees can join any of
          our Navi Mumbai gym location. Our staff of certified and expert
          coaches will help anyone who is committed improving their quality of
          life. If you are interested in Brotherhood corporate package
          membership rates (for groups of 5+) and/or a customized wellness
          program hosted on-site at your office, please reach out to us below!
        </p>
      </div>
    </div>
  </div>
</div>
